# 处理丢失数据

In [ ]:
"""
有两种丢失数据：
   None
   np.nan(NaN)
"""

In [4]:
import numpy as np

In [5]:
type(None)

NoneType

In [6]:
type(np.nan)

float

# 1. None
None是Python自带的，其类型为python object。因此，None不能参与到任何计算中。

object类型的运算要比int类型的运算慢得多
计算不同数据类型求和时间
%timeit np.arange(1e5,dtype=xxx).sum()

In [8]:
1e6

1000000.0

In [9]:
%timeit np.arange(1e6,dtype=int).sum()

3.33 ms ± 51.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
%timeit np.arange(1e6,dtype=float).sum()

6.87 ms ± 50.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [11]:
%timeit np.arange(1e6,dtype=object).sum()

81.1 ms ± 3.04 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# 2. np.nan（NaN）
np.nan是浮点类型，能参与到计算中。但计算的结果总是NaN。

但可以使用np.nan*()函数来计算nan，此时视nan为0。

In [12]:
nd = np.array([10,20,30,np.nan])
nd.sum()

nan

In [13]:
np.nansum(nd)

60.0

In [15]:
nd = np.array([10,20,30,np.nan,None])
nd

array([10, 20, 30, nan, None], dtype=object)

In [16]:
nd.sum()

TypeError: unsupported operand type(s) for +: 'float' and 'NoneType'

# 3. pandas中的None与NaN
### 1) pandas中None与np.nan都视作np.nan¶

创建DataFrame

In [18]:
import pandas as pd
from pandas import Series, DataFrame

In [26]:
df = DataFrame([10,20,30,None,np.nan],index=["Tom","Jerry","Spicke","Lilei","Mark"],columns=["python"])
df

        python
Tom       10.0
Jerry     20.0
Spicke    30.0
Lilei      NaN
Mark       NaN

In [27]:
df.sum()

python    60.0
dtype: float64

#### 关于Nan   numpy 和pandas 是不一样的

In [30]:
df = DataFrame([[10,20,30,None,np.nan],
               [22,33,44,12,None],
                [np.nan, 1,2,3,4]],
               index=["Tom","Jerry","Spicke"],
               columns=["python","Java","C++","Ruby","Html"])
df

        python  Java  C++  Ruby  Html
Tom       10.0    20   30   NaN   NaN
Jerry     22.0    33   44  12.0   NaN
Spicke     NaN     1    2   3.0   4.0

In [31]:
df.sum(axis=1)

Tom        60.0
Jerry     111.0
Spicke     10.0
dtype: float64

使用DataFrame行索引与列索引修改DataFrame数据

In [ ]:
df["Java"][""]